#directory in which you run the analysis
export base_dir=[path/to/working/directory]
#full path to pipeline scripts folder, remember to update if you change versions or copied it
export scripts_dir=/home/glbrc.org/jwolters/pipelines/hybpiper/v1/scripts_submits
export conda=/opt/bifxapps/miniconda3/condabin/conda
export inFileName=[/path/to/input/file]
#input file should be formatted as tab delimited: data_ID /path/to/forward/reads /path/to/reverse/reads
export targets=[/path/to/query/fasta]
